html,
body {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  display: block;
}
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 55px;
  position: relative;
  overflow: hidden;
}
.lt_container .lt_header {
  width: 100%;
  height: 45px;
  background-color: #006699;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 45px;
  text-align: center;
}
.lt_container .lt_header .icon_left,
.lt_container .lt_header .icon_right {
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.lt_container .lt_header a {
  color: #fff;
  display: block;
  width: 45px;
  height: 45px;
}
.lt_container .lt_header .icon_left {
  left: 0;
}
.lt_container .lt_header .icon_right {
  right: 0;
}
.lt_container .lt_header h3 {
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  margin: 0;
  color: #fff;
  font-size: 18px;
}
.lt_container .content {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt_container .lt_footer {
  width: 100%;
  height: 55px;
  background-color: #006699;
  position: absolute;
  bottom: 0;
  left: 0;
}
.lt_container .lt_footer ul li {
  width: 25%;
  float: left;
}
.lt_container .lt_footer ul li a {
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 6px;
}
.lt_container .lt_footer ul li a p {
  color: #fff;
}
.lt_container .lt_footer ul li a.current {
  color: orange;
}
.lt_container .lt_footer ul li a.current p {
  color: orange;
}
.lt_container .lt_product {
  padding: 10px;
  text-align: center;
}
.lt_container .lt_product li {
  float: left;
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
}
.lt_container .lt_product li:nth-child(2n) {
  margin-left: 4%;
}
.lt_container .lt_product li .price {
  color: red;
}
.lt_container .lt_product li .old_price {
  text-decoration: line-through;
}
